
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slide{
    
    max-width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.slide img{
    height: 400px;
}

  
.cart-icon {
width: 30px;
}

.verProductos{
    font-size: 30px;
    text-decoration:underline;
    color: black;
}
p{
    font-size: 17px;
}
